write
<br />
<a href="/crud">되돌아가기</a>
<br />
<br />
<form action="/create" method="post">
    <label>제목</label>
    <input type="text" name="title" />
    <br />
    <label>내용</label>
    <input type="text" name="content" />
    <br />
    <input type="submit" />
</form>